.stores{
  margin:30px;
  padding: 20px;
  border: 1px solid rgb(0, 0, 0,0.2);
  border-radius: 10px;
}
.listProducts{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 230px 230px;
  grid-gap: 20px;
  justify-content: center;
}
.card{
  height: 200px;
}
.cardes{
  color: transparent;
}
.cardes button{
  background-color: transparent;
  color: transparent;
  border: transparent;
}
.cardes p{
  color: transparent
}
.cardes .LinkDetails{
  color: transparent;
}
.cardes:hover .LinkDetails{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.cardes:hover button{
  color:white;
  background-color: #28a745;
}
.cardes:hover p{
  color: whitesmoke;
}
.cardes:hover{
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(85, 84, 84,0.6);
}
.LinkDetails{
  width: 150px;
  height: 100px;
  
}
.listStoress{
  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}
.listStoress button{
  font-size: 16px;
  padding: 10px;
  width: auto;
}
.header1{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0 110px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.Main1{
  background-color: white;
}
.main2{
  display: flex;
  justify-content: space-around;
}
.imgAccount{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 3px solid #FFF;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.account{
  width: 50px;
  height: 50px;
}
.car{
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-self: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px solid white;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  width: 280px;
  height: 400px;
  animation: slice-in 270ms ease-in;
}
.lista{
  margin-top: 5px;
  margin-left: 5px;
  height: 300px;
  width: 260px;
}
.list-group{
  height: 300px !important;
  overflow-y: scroll;
}
.prevProduct{
  border: 1px solid rgba(0,0,0,.125);
  width: 40px;
  height: 40px;
}
.btnLista{
  display: flex;
  align-self: center;
}
.btnLista{
  background-color: whi;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 5px;
  height: 45px;
}
.btnLista button{
  padding: 0 10px;
}
.btnCancelar{
  border-right: 1px solid rgba(0,0,0,.125);
  padding: 5px;
}
.btnFinalizar{
  padding: 5px;
}
.btnCancelar:hover{
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  background-color: rgb(192, 81, 81);
}
.btnFinalizar:hover{
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  background-color: #28a745;
}
.car p{
  font-size: 17px;
}
.aparecer{
  display: grid;
  grid-template-columns: 4fr 1fr;
  animation: slice-in 270ms ease-in;
}
.desaparecer > .car{
  display: none;
  animation: slice-out 270ms ease-in;
}
.desaparecer{
  animation: slice-out 270ms ease-out;
}
.carExcluir{
  padding: 5px;
  border-left: 1px solid rgb(165, 85, 85);
}
.carExcluir:hover{
  background-color: rgb(165, 85, 85);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.defaultLay .car{
  display: none;
}

@keyframes slice-in{
  0%{
    transform: translateX(140px);
  }
  100%{
    transform: translateX(0px);
  }
}
@keyframes slice-out{
  0%{
    transform: translateX(-149px);
  }
  100%{
    transform: translateX(0px);
  } 
}

/* Details */
.MainDetails{
  background-color: white;
}
.mainDetails{
  height: 600px;
  display: flex;
  justify-content: space-around;
}
.containerDetails img{
  width: 350px;
  height: 350px;
  align-self: center;
}
.containerDetails{
  border: 1px solid rgb(99, 97, 97,0.2);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  align-self: center;
  justify-content: space-around;
  width: 800px;
  height: 500px;
}
.textdetails{
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}